<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>addresslist1</title>
<meta charset="utf-8" />
<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>
</head>

<body>
	<h1>addresslist1</h1>
	<table>
		<tr th:each="address:${addresslist}" th:object="${address}">
			<td th:text="*{id}"></td>
			<td th:text="*{lastName}"></td>
			<td th:text="*{firstName}"></td>
			<td th:text="*{phoneNumber}"></td>
			<td th:text="*{address}"></td>
			<td th:text="*{birthDay}"></td>
		</tr>
	</table>
</body>
</html>


