<!DOCTYPE html1>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>addressForm1 Submit</title>
</head>

<body>
	<h1>addressForm1Submit</h1>
	<p th:text="'姓：'+${addressForm.lastName}" />
	<p th:text="'名：'+${addressForm.firstName}" />
	<p th:text="'電話番号:'+${addressForm.phoneNumber}" />
	<p th:text="'誕生日：'+${addressForm.birthDay}" />

	<a href="/addressform1">戻る</a>

</body>
</html>