<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>AddressForm2 Submit</title>

<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>

</head>

<body>
	<h1>AddressForm2 Submit</h1>

	<table>
		<tr th:each="address : ${addressForm2}" th:object="${address}">
			<td th:text="*{id}"></td>
			<td th:text="*{lastName}"></td>
			<td th:text="*{firstName}"></td>
			<td th:text="*{phoneNumber}"></td>
			<td th:text="*{address}"></td>
			<td th:text="*{birthDay}"></td>		
		</tr>

	</table>
	<a href="/addressform2">戻る</a>

</body>
</html>
