<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>tasklist3</title>
<meta charset="utf-8" />
<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>

</head>
<body>
	<h1>addresslist3</h1>
	<form action="#" th:action="@{/addresslist3/submit}"
		th:object="${addressForm}" method="post">

		<!--絞り込み　複数条件 -->
		<p>
			姓:<input type="text" size="32" maxlength="32"
				th:field=${addressForm.prmLastName} /> <span
				th:if="${#fields.hasErrors('prmLastName')}" th:errors="*{prmLastName}"
				style="color: red"></span>
		</p>

		<p>
			名:<input type="text" size="32" maxlength="32"
				th:field=${addressForm.prmFirstName} /> <span
				th:if="${#fields.hasErrors('prmFirstName')}" th:errors="*{prmFirstName}"
				style="color: red"></span>
		</p>

		<p>
			住所:<input type="text" size="32" maxlength="32"
				th:field=${addressForm.prmAddress} /> <span
				th:if="${#fields.hasErrors('prmAddress')}" th:errors="*{prmAddress}"
				style="color: red"></span>
		</p>

		<input type="submit" value="検索" />
	</form>

	<table th:if="${addresslist.size() gt 0}">
		<tr>
			<th>id</th>
			<th>姓</th>
			<th>名</th>
			<th>電話番号</th>
			<th>住所</th>
			<th>誕生日</th>
		</tr>
		<tr th:each="address : ${addresslist}" th:object="${address}">
			<td th:text="*{id}"></td>
			<td th:text="*{prmLastName}"></td>
			<td th:text="*{prmFirstName}"></td>
			<td th:text="*{phoneNumber}"></td>
			<td th:text="*{prmAddress}"></td>
			<td th:text="${#temporals.format(address.birthDay, 'yyyy/MM/dd')}"></td>
		</tr>
	</table>
</body>
</html>