<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Springboot</title>

        <meta charset="utf-8" />

    </head>

    <body>

        <h1 th:text="${title}"></h1>

        <table>

            <tr th:each="emp : ${emplist}" th:object="${emp}">

                <td th:text="*{id}"></td>

                <td th:text="*{empname}"></td>

            </tr>

        </table>

    </body>

</html>