<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskForm1 Submit</title>
</head>

<body>
	<h1>taskForm1 Submit</h1>

	<p th:text="'title : ' + ${taskForm.title}" />
	<p th:text="'detail : ' + ${taskForm.detail}" />
	<p th:text="'limitDate : ' + ${taskForm.limitDate}" />
	<a href="/taskform1">戻る</a>

</body>
</html>