<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>TaskForm2 Submit</title>

<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>

</head>

<body>
	<h1>taskForm2 Submit</h1>

	<table>
		<tr th:each="task : ${tasklist}" th:object="${task}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{detail}"></td>
			<td th:text="*{limitDate}"></td>
		</tr>

	</table>
	<a href="/taskform2">戻る</a>

</body>
</html>
