<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>tasklist3</title>
<meta charset="utf-8" />
<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>

</head>

<body>
	<h1>tasklist3</h1>
	<form action="#" th:action="@{/tasklist3/submit}"
		th:object="${taskForm}" method="post">

		<p>
			タイトル：<input type="text" size="64" maxlength="32"
				th:field=${taskForm.title} /> <span
				th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
				style="color: red"></span>
		</p>

		<input type="submit" value="検索" />
	</form>

	<table th:if="${tasklist.size() gt 0}">
		<tr>
			<th>Id</th>
			<th>タイトル</th>
			<th>詳細</th>
			<th>期限日</th>
		</tr>

		<tr th:each="task : ${tasklist}" th:object="${task}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{detail}"></td>
			<td th:text="${#dates.format(task.limitDate2,'yyyy/MM/dd')}"></td>
		</tr>

	</table>
</body>
</html>
