<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>tasklist1</title>
<meta charset="utf-8" />
<style type="text/css">
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 0;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee
}
</style>
</head>

<body>
	<h1>tasklist1</h1>
	<table>

		<!-- th:each　くり返し 　th:object*を使って省略 dateは出力の形を指定-->
		<tr th:each="task:${tasklist}" th:object="${task}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{detail}"></td>
			<td th:text="${#dates.format(task.limitDate2,'yyyy/MM/dd')}"></td>
		</tr>
	</table>
</body>
</html>